[2021-08-11 14:56] fanuch opened #307 "[Bug]: Static on Left Channel on Two Pi Zero (2-Mic Pi HAT)"
### Describe the bug

Steps to reproduce the behavior:
1. Source two Raspi Zero
2. Install hats
3. Follow ["first-steps"](https://wiki.seeedstudio.com/ReSpeaker_2_Mics_Pi_HAT_Raspberry/) to install and record audio
4. Audio playback has static

### Expected behavior

No static or scratching on playback

### Platform

- Device: Pi Zero
- OS: Raspbian - Linux pi 5.10.52+ #1441 Tue Aug 3 18:08:18 BST

[2021-08-13 01:35] AIWintermuteAI commented on #301
Closing the issue due to inactivity.

[2021-08-13 01:35] #301 closed

[2021-08-13 01:35] AIWintermuteAI commented on #299
Closing the issue due to inactivity.

[2021-08-13 01:35] #299 closed

[2021-08-13 03:20] AIWintermuteAI commented on #282
Hello, @uselessgames !

I am able to reproduce the problem you described with the following setup:
Raspberry Pi 4 1 Gb
5.10.17-v7l+ kernel
https://github.com/respeaker/seeed-voicecard/commit/b595b95b2184f52e752256cca17e9b92e1a19cd7

Here is three samples I recorded with 2-mic hat - I was speaking before I started recording and I can see a strange upward curve on 0 - 0.1~0.2 segment of the recordin

[2021-08-13 03:38] AIWintermuteAI commented on #276
Hi @faaafo !
I have tried to reproduce the issue with the following setup

Raspberry Pi 4 1 Gb
5.10.17-v7l+ kernel
https://github.com/respeaker/seeed-voicecard/commit/b595b95b2184f52e752256cca17e9b92e1a19cd7
reSpeaker 4-mic hat for raspberry pi

[code]

ffmpeg didn't crash and recording was successful.

Perhaps you can share more details about your setup, if issue still persists. Additionally, I s

[2021-08-13 03:41] AIWintermuteAI commented on #271
Hi @xBelladonna !
I have tested 4mic reSpeaker multiple times recently with the following setup:

Raspberry Pi 4 1 Gb
5.10.17-v7l+ kernel
41a09a3
reSpeaker 4-mic hat for raspberry pi

The recording function worked normally for example recording command specified in wiki article
https://wiki.seeedstudio.com/ReSpeaker_4_Mic_Array_for_Raspberry_Pi/

If the issue still persists for you, could you shar

[2021-08-13 03:47] AIWintermuteAI commented on #261
Hi, @ervinbalazs !
I cannot reproduce the problem with the following setup:

Raspberry Pi 4 1 Gb
5.10.17-v7l+ kernel
b595b95
2-mic Hat for Raspberry Pi

The sound output of both headphone jack and JST2.0 Speaker Out does not contain any noise after reboot.

If the issue still persists for you, can you share more information about your setup?

[2021-08-13 06:16] AIWintermuteAI commented on #307
Hi @fanuch !

I wasn't able to reproduce the bug you described with the following setup:
Raspberry Pi Zero W v1.1
5.10.17-v7l+ kernel
b595b95
reSpeaker 2-mics Pi Hat v1.0

Experiment:
Record audio with  ```arecord -f cd -Dhw:0 test.wav```, then play it with ```arecord -f cd -Dhw:0 test.wav```. Transfer it to PC for visualizing in Audacity.

Results:
![image](https://user-images.githubusercontent.c

[2021-08-13 08:43] fanuch commented on #307
Thanks for the suggestions!

- I used Raspbian OS Lite burned with Etcher
- I applied the `ssh` and `wpa_supplicant.conf` files to the `boot` partition for access
- `sudo apt update && sudo apt upgrade -y`
- `git clone https://github.com/respeaker/seeed-voicecard.git; cd seeed-voicecard; sudo ./install.sh`
- `sudo reboot`
- ` sudo arecord -f cd -Dhw:0 test.wav`

Still the same issue

This time I a

[2021-08-14 12:26] DeeBeeKay commented on #307
For what it is worth, I am having this issue on a Raspberry Pi 3B+ that I just set up this morning, with the intention of running Rhasspy.

This is a brand new install of Buster, updated to the latest everything. The problem persists on both Ethernet and WiFi - I tested both in case the network was causing interference.

I had another brand new Respeaker 2-Mic on the shelf - I had bought two with

[2021-08-14 12:41] fanuch commented on #307
@DeeBeeKay

You are seeing literally the same issue I am? Clicks on the left channel?

Same thing with me. I was hoping this was going to be as close to an out-of-the-box solution as a maker can have.

[2021-08-14 13:15] DeeBeeKay commented on #307
I have a single mono speaker plugged into the speaker output of the Respeaker Mic2. The audio is full of crackles and noise, and is unusable. I don't have your ability to map the stereo channels to show where the noise is.

[2021-08-14 13:19] fanuch commented on #307
Just run:
[code]
Then on your local machine i.e. Windows or Mac, run:
[code]

[2021-08-14 13:20] fanuch commented on #307
Sorry, tried to cancel a message and clicked "close with comment" instead.
Issue is still on-going

[2021-08-14 22:40] amirush786 commented on #306
I have done the setup of raspberry pi. I am using the wifi and monitor, mouse and keyboard. I am not using the ethernet cable.
so when I am using the command for playing and recording at the same time which is "#Doing capture && playback the same time
arecord -D hw:1,0 -f S32_LE -r 16000 -c 8 to_be_record.wav &
#mono_to_play.wav is a mono channel wave file to play
aplay -D plughw:1,0 -r 16000 mono

[2021-08-15 02:32] HinTak commented on #306
If you want to play sound through another device (bluetooth connected) that you should consult the instruction for that device. The playback instruction for the 6-macs device is for playing sound through the phone jacket on the seeed studio board, which you seems to be able to do.

[2021-08-15 02:36] amirush786 commented on #306
How can I detect my speaker on the pi. Is there any way we can do that. Can we change the default setting to play on the speaker connected via aux cable to the pi.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: HinTak ***@***.***>
Sent: Saturday, August 14, 2021 7:32:21 PM
To: respeaker/seeed-voicecard ***@***.***>
Cc: Amirush Ramdas Javare ***@***.***>; Me

[2021-08-15 02:42] HinTak commented on #306
You could just search for 'raspberrypi bluetooth speaker" on Google. This was one of the earlier results: https://www.raspberrypi.org/forums/viewtopic.php?f=35&t=235519

[2021-08-15 02:57] amirush786 commented on #306
Thank you sir will look into it.

[2021-08-15 04:39] AIWintermuteAI commented on #307
@fanuch @DeeBeeKay
Interesting. Can you also specify the hardware revisions of reSpeaker and Raspberry Pi Zero W? To make sure we are testing the same hardware

[2021-08-15 04:50] fanuch commented on #307
ReSpeaker 2-Mics Pi HAT v1.1 (for both)
![signal-2021-08-15-144828](https://user-images.githubusercontent.com/4865267/129467494-6b1f0683-56df-41f6-a0b2-1ad0c1c179c5.jpeg)

Raspberry Pi Zero W v1.1 (for both)
![signal-2021-08-15-144858](https://user-images.githubusercontent.com/4865267/129467498-4524bb7a-4519-4e95-b3a7-cb2b21b8f25f.jpeg)

[2021-08-15 04:59] AIWintermuteAI commented on #307
Okay, my reSpeaker is rev 1.0 here, I need to get rev 1.1 for further testing then.
Your Raspberry Pi is the same version as mine (1.1.), there are only two subtle differences:
ANATEL number
40-pin header seems to be soldered manually (mine is pre-soldered)
![image](https://user-images.githubusercontent.com/32562299/129467638-dd85cca7-9cf6-46fb-a3ad-639e80d6c554.png)
![image](https://user-images.g

[2021-08-16 00:07] DeeBeeKay commented on #307
I managed to transfer the test.wav to my PC and opened it in Audacity, and was thus able to confirm that the crackles and noise are in the left hand channel.

In terms of hardware, the Raspberry Pi I am using doesn't seem to have a version number, it just says Raspberry Pi 3 Model B+.

Both of the Respeaker 2-Mic Pi HATs I have are version 1.0.

[2021-08-16 00:43] fanuch commented on #307
@DeeBeeKay did you need to solder anything on to your ReSpeakers or your Pi?
As far as I have seen, the Pi 3B has the headers soldered on from the factory - so too for the 2-Mic HAT.

[2021-08-16 00:51] DeeBeeKay commented on #307
@fanuch No soldering was necessary, the headers were done at the factory.

Are you implying there could be solder somewhere there shouldn't? I have one other Pi3B+ I could test with, if you like, also with factory headers. Then, in a drawer somewhere, I have a Pi Zero W, but I'd need to solder a header onto that and my soldering skills are ... well, I guess they're functional.

[2021-08-16 00:58] fanuch commented on #307
I'm trying to removing the chance that my header soldering may have caused the issue!
That you didn't need to solder helps rule that out in my two Pi and two HATs :)

[2021-08-16 06:05] DeeBeeKay commented on #307
I just did another test with a different rpi3B+. The noise is present in the left channel.

Here's why I think this is software related. I used this rpi and this Respeaker 2mic before to build a Picroft, about a year back. At that time, it worked without issue. The hardware is exactly the same, the only thing that has changed is the software.

[2021-08-16 09:14] HinTak commented on #307
See the log message on https://github.com/respeaker/seeed-voicecard/commit/19067f3333d7759bdf626e62bc09a7deae4627a1 - the trigger start/stop order has changed in kernel 5.5 regarding the cpu end and the codec. This broke the 6-mics and linear-4-mics completely, but the 2-mics and square 4-mics was not (noticeably) affected. Maybe the 2-mics device driver needs to adjust for the 5.5+ kernel change

[2021-08-16 09:17] HinTak commented on #307
Just to eliminate that possibility, see if downgrading the kernel to 5.4 helps. Instructions at https://github.com/HinTak/RaspberryPi-Dev/blob/master/Downgrading-Pi-Kernel.md

Disclaimer: just another user, I don't work for Seeed Studio...

[2021-08-16 09:25] AIWintermuteAI commented on #307
We have discussed it internally and concluded it is likely NOT due to the difference between 1.0 and 1.1.
I had a good look at the kernel version you mentioned @fanuch - I was a bit confused why you have 5.10.52 when latest official version downloaded from Raspberry Pi OS website is 5.10.17. It turns out during the driver installation kernel is upgraded to match the latest headers.
Very recently W

[2021-08-16 09:26] AIWintermuteAI commented on #307
@HinTak Hmmm, probably not that issue. It is more likely to do with default WM8960 kernel driver being enabled in 5.10.52

[2021-08-16 09:40] HinTak commented on #307
@AIWintermuteAI I just left a comment on that commit - the Linux kernel allows for multiple kernel modules of the same name, and dkms-managed modules overrides those from the rest.

Argh, I see there is a bug - you should not hard-code the module location. dkms's default location overrides the rest of the kernel, but not when you use a non-default location.

[2021-08-16 09:41] HinTak commented on #307
Removing the three module location lines https://github.com/respeaker/seeed-voicecard/blob/17e2875d4d6b47376861a1f936b9f5b365845a11/dkms.conf#L6 might be a good idea.

[2021-08-16 09:58] AIWintermuteAI commented on #307
I've narrowed it down to this line
https://github.com/respeaker/seeed-voicecard/blob/17e2875d4d6b47376861a1f936b9f5b365845a11/install.sh#L130
Basically what happens is that when there is a new kernel present, it is downloaded and installed --- but before reboot it is not loaded. So ```uname -r``` command returns old kernel version, which does not exist anymore. That causes this for loop
https://gi

[2021-08-16 10:00] AIWintermuteAI commented on #307
The solution here is to check if kernel version has changed and if it was, ask user to reboot before continuing the installation.

[2021-08-16 10:10] DeeBeeKay commented on #307
Hi @AIWintermuteAI. Following your advice, I pulled the latest version and installed it again. The problem is gone!

Thank you so much for looking into this.

[2021-08-16 10:48] AIWintermuteAI commented on #307
@DeeBeeKay no problem!
What actually fixed it was probably running the installation script again after reboot.
@fanuch you can try doing that too.
I'll make necessary changes, test and push them tomorrow.

[2021-08-16 10:54] fanuch commented on #307
Gah beat me to it @DeeBeeKay!

I also pulled the latest commit and did a "dirty install" on latest commit https://github.com/respeaker/seeed-voicecard/commit/17e2875d4d6b47376861a1f936b9f5b365845a11.

Sound is clear and audible (maybe too clear, with that quiet ramping up on the right channel on issue https://github.com/respeaker/seeed-voicecard/issues/282 :) )
![image](https://user-images.githubu

[2021-08-17 02:15] fanuch commented on #307
Closing this issue as it looks to be resolved and debugged

[2021-08-17 02:15] #307 closed

[2021-08-17 02:32] AIWintermuteAI commented on #307
Yes, it is resolved.
Now if active kernel version doesn't match updated kernel version this message will be displayed
![image](https://user-images.githubusercontent.com/32562299/129654551-9361e312-6058-4360-8cf0-bc8454af230d.png)
Then after reboot when user runs the ./install.sh script again installation will proceed to building kernel module and replacing it (in case with WM8960.
![image](https:/

[2021-08-18 20:16] Tswizly opened #308 "Kernel Version Preventing Successful Download"
### Describe the bug

The code obtained from the Respeaker 4-Mic Array [Wiki  ](https://wiki.seeedstudio.com/ReSpeaker_4_Mic_Array_for_Raspberry_Pi/) :
<html>
<body>

  | sudo apt-get update
-- | --
  | git clone https://github.com/respeaker/seeed-voicecard.git
  | cd seeed-voicecard
  | sudo ./install.sh
  | sudo reboot now

</body>
</html>
results in the error message "WARNING Your loaded kernel

[2021-08-18 20:50] amirush786 commented on #306
Hello I tried doing the tutorials for connecting the pi via Bluetooth device. The problem u am facing is that when I hit the command of recording and playing at the same time it's not playing anything on the speaker even though it shows me there the wav file is playing and also nothing is recorded as well.
Also when I try to play just the sound file it throws me error unknown pcm101.
Below I have

[2021-08-18 20:52] HinTak commented on #308
I think you misunstand the message. There are two kernel releases showing 5.10.52:

 https://github.com/HinTak/RaspberryPi-Dev/blob/master/Raspbian-Kernel-Releases.md

As long as you ended up with the most recent (0805), you are fine.

[2021-08-18 21:00] HinTak commented on #306
The problem you are facing is that you haven't figured out how to use your bluetooth speaker, just for playing sound through it. If you are not playing sound through it, you cannot record with any device, including respeaker. You not being able to use the bluetooth speaker alone, is a separate and unrelated problem to how you can or cannot use the respeaker for recording and playback.

The higher

[2021-08-18 21:53] amirush786 commented on #306
So when I connect my jbl speaker and instead of Bluetooth I connected with aux cable. So when I got the command for playing the wav file and recording at the same time, it does play the sound from my speaker but it doesn't record a new file. So in that case we can't do both the things at the same time right?. Just want to know am I on the right thought process.

[2021-08-18 22:55] HinTak commented on #306
If you are using your speaker via the phone socket on the pi through a cable, you should be using `aplay -D sysdefault ...` or `aplay -D CARD=Headphones ...` . and you record through respeaker via `arecord -D ac108 ...`. You should try to do each of these separately and successfully before you try to do them simultaneously.

If you are unable to record, also check your recording volume (one of the

[2021-08-18 23:03] HinTak commented on #306
You should be able to record alone, and record your own voice, by saying a few words in front of the device not too far from it. Check with `alsamixer` the recording volume settings is not too low, if your voice is not in the resulting recording.

[2021-08-19 00:16] amirush786 commented on #306
When I am doing a recording as you told the sound gets re order but it seems that it's not recording my voice it's recording sshhhhhhhhhh volume kinda thing not sure why?. Is there any way you can have a look at it via pi tunnel or something like that. That woukd be great help if you can help me figure out this issue that I am facing.

[2021-08-19 00:28] HinTak commented on #306
Did you check the "Capture" (not "Playback"!) volume setting under "alsamixer" that the setting is high enough? You can attach the sound recording to issues (same as attaching txt files, etc - zip it if does not take wav directly) too.

At this stage I think you best option is really to get somebody local to your location to check what's wrong. Join a local computer club or something...

[2021-08-19 01:59] AIWintermuteAI commented on #308
Hi @Tswizly
It appears a commit solving https://github.com/respeaker/seeed-voicecard/issues/307 had a small typo in install.sh, that passed unnoticed when testing on Raspberry Pi Zero W.
I made changes and briefly tested them on both R PI 4 and R Pi Zero W. Can you pull latest code and see if the issue was resolved?

[2021-08-19 03:27] Tswizly commented on #308
Hi @AIWintermuteAI
It worked! Yes, your change worked. Rebooting and re-running the sudo ./install.sh code did not work right away, but I had another microSD card with nothing on it so I simply used that to save myself the hassle of determining how to remove the git clone https://.../seeed-voicecard.git. However the code worked like a charm and did not give any error message at all, but rather wor

[2021-08-19 03:27] Tswizly commented on #308
I am going to close the issue as it is resolved for me. Thank you again.

[2021-08-19 03:27] #308 closed

[2021-08-19 07:14] AIWintermuteAI commented on #308
@Tswizly I'm glad that it worked for you! Have you checked if reSpeaker functioning normally?

[2021-08-19 11:07] gusido opened #309 "[Bug]: reference channels shifts (disordered) over multiple recordings"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. download provided image for hardware testing from: [https://files.seeedstudio.com/linux/Raspberry%20Pi%204%20reSpeaker/2021-05-07-raspios-buster-armhf-lite-respeaker.img.xz]
2. burn image to an sd card
3. boot kit (rpi4 with respeaker 5)
4. login and run the following commnad:
`arecord -D hw:CARD=seeed8micvoicec,DEV=0 -d 3

[2021-08-20 01:02] Tswizly commented on #308
@AIWintermuteAI Yes it is functioning normally. The quality is very good in Audacity, the LED's work, and the sound recording is working. It is tremendous. Thank you again for the awesome help!

[2021-08-20 01:37] AIWintermuteAI commented on #291
I'll be closing the issue to lack of activity. Feel free to re-open if issue persists.

[2021-08-20 01:37] #291 closed

[2021-08-20 02:16] AIWintermuteAI commented on #273
Hi, @slesinger !

I tried to reproduce the problem with the following setup:
Raspberry Pi Zero W
5.10.52+ kernel
https://github.com/respeaker/seeed-voicecard/commit/d840f77541f9f1ff64097a2aec274d549d6e8a23

Few things that are somewhat wrong:
1) According to ALSA command line utility ```alsamixer```, all 4 channels ADC PGA gain is set to 0 by default for 4-mic reSpeaker. So, there is no need to ch

[2021-08-20 03:25] HinTak commented on #273
The device numbering ie `-c 2` changed between 4.19 and 5.x, or rather depends on a few kernel module options to do with multiseat and multiple hdmi output on newer pi's (see https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=249204) . @slesinger likely read the commands from outdated instructions without understanding what they do.

And the instructions wherever he reads it from needs updati

[2021-08-20 06:26] AIWintermuteAI commented on #258
Hi, @Arkert !
I made some changes to install.sh script and tested them on 5.10.52-v8+ Raspberry Pi OS on Raspberry Pi 4 1 Gb with 2-mic reSpeaker. After some consideration, I decided to split installation script in 32-bit version and 64-bit version - it is indicted in README now. So, try
[code]
and see if it works for you.

[2021-08-20 07:41] AIWintermuteAI commented on #309
hi, @gusido !
I was able to reproduce the issue on the latest https://github.com/respeaker/seeed-voicecard/commit/dd9391fb78e6ec0ead495e5246e32a781d056ab2 commit version.

I looked briefly through the https://github.com/respeaker/seeed-voicecard/blob/master/ac108.c code and there has been quite a few changes that might affect channel order. I'm almost done with issue backlog and after that will be

[2021-08-20 08:00] AIWintermuteAI commented on #273
Right, thank you for the explanation, @HinTak .
I checked https://github.com/Seeed-Studio/wiki-documents/search?q=amixer for instructions on that in wiki, it doesn't seem we mention that anywhere there. Probably he has found it somewhere else on the Internet.

[2021-08-20 09:01] HinTak commented on #258
@AIWintermuteAI FWIW, I'd say please don't make another nearly identical copy of the script. You end up having to make nearly identical changes twice in both scripts later, etc.

[2021-08-20 09:06] AIWintermuteAI commented on #258
Of course, the changes now are very small - but in future they might diverge more. There is no immediate problem in having two scripts now. I'll reconsider this at later date.

[2021-08-20 10:01] HinTak commented on #258
@AIWintermuteAI there is a useful option `uname -m` to ask the current kernel if it is 32-bit or 64-bit. This should be sufficient to merge any difference you need between 32-bit and 64-bit into a few if/then's.

[2021-08-20 10:10] HinTak commented on #309
Yes, #301 and quite a few closed-without-resolution ones. Afaik this is generic to multichannel (>2) capture and playback on the pi. See it on a different device and more / better discussion : https://github.com/Audio-Injector/Octo/issues/1 .  The audio-injector people at least leave the issue open for years, for other people to read about it...

[2021-08-20 21:58] amirush786 commented on #306
I check the capture in alsamixer it was 100 there. Moreover I have attached the images, zip file (which holds the ls,od dmesg and wave file in it). Can you know where I am going wrong?

[dmesg_output.txt](https://github.com/respeaker/seeed-voicecard/files/7024258/dmesg_output.txt)
[lsmod_output.txt](https://github.com/respeaker/seeed-voicecard/files/7024259/lsmod_output.txt)
[a.zip](https://github

[2021-08-20 22:20] HinTak commented on #306
@amirush786 alsamixer on the wrong card - use F6 to switch to the correct one. And WTF, according to both dmesg and your screenshot, you have the square 4-mics device, not the 6-mics and not the linear-4-mics device. In that case, the square 4-mics device does not have a phone jack, so you play back through the pi's on-board phone jacket, which is just for example, `aplay -D plughw:CARD=Headphones

[2021-08-20 22:23] amirush786 commented on #306
Will check on it. Thank you very much for the help. I will give the updates.

[2021-08-20 22:24] amirush786 commented on #306
I didn't change any setting like I got the device from the university stating that its 6 mic and I started doing research on that. I will notify them. As well and give you the uodates of the tings you told me to do.

[2021-08-20 23:20] amirush786 commented on #306
I have to choose bcm2835 Headphones right?. ![20210820_161816.jpg](https://user-images.githubusercontent.com/31735000/130301966-fd73f152-3954-41f8-955a-b64e5ff5efbc.jpg)

![20210820_161832.jpg](https://user-images.githubusercontent.com/31735000/130301995-8249f325-f012-4832-b181-bfb548839fb3.jpg)

How can I make sure it has chosen the correct one. Because when I play using bcm2835 it shows me this

[2021-08-20 23:27] HinTak commented on #306
No, for capture you need to looking at the alsamixer setting of seeed-4mics-voicecard, and make sure the capture setting of that card is high.

[2021-08-20 23:31] HinTak commented on #306
And your command line is wrong - for your hardware combo, you record through the voicecard - `arecord -D ac108 ...` and you play through the headphone. Your alsamixer capture setting for the 4-mics card, and use -D ac108 for recording.

[2021-08-20 23:34] HinTak commented on #306
Your voicecard is device **2**, so if you want the "-D hw:X,Y" syntax instead of ac108, etc, you should be using hw:2,0 !

[2021-08-20 23:38] HinTak commented on #306
Since you mentioned you got you card "from the university", surely there are people there who can help and tell you that some of your basic operations with alsa / recording / playback are just looking at the wrong setting panel, passing wrong device numbers, etc?

[2021-08-20 23:42] amirush786 commented on #306
No they won't help in such cases. You can have access to my pi using pi tunnel. It would be great help sir. I am struggling a lot with the device and I am stuck too badly with it. My main aim is to collect data from the tool which is playing a modulated sound via a speaker which is connected to pi and then at the same time I have to record as well. Didn't knew that it might be so tedious. There's

[2021-08-20 23:43] HinTak commented on #306
This is getting quite crazy - at the beginning, you said you have pi4 + 6-mics . Now it turns out that you have pi 3.+ square 4-mics!

[2021-08-20 23:45] amirush786 commented on #306
Thats what I was told by my college. Can you please help me to fix this issue by accessing my terminal sir please

[2021-08-20 23:47] HinTak commented on #306
I do not and will not access your pi channel! You need to be able to record identifiable sound (your own voice, etc), and that absolutely cannot be done by any kind of remone access. You must solve the problem by having the device in front of you while you record with identiable sound, such as you speaking to the device or you clapping or clicking your fingers. It cannot be fixed by any kind of re

[2021-08-20 23:48] HinTak commented on #306
Get your teacher to help you, and show you this message.

[2021-08-20 23:51] amirush786 commented on #306
arecord -D hw:2,0 -f S32_LE -r 16000 -c 8 to_be_record.wav & aplay -D plughw:2,0 -r 16000 a1.wav
arecord: main:828: aplay: main:828: audio open error: Device or resource busy
audio open error: No such file or directory
[1]+  Exit 1                  arecord -D hw:2,0 -f S32_LE -r 16000 -c 8 to_be_record.wav

I am getting this error.

[2021-08-20 23:58] amirush786 commented on #306
I will tell my professor regarding this and also in the dmesg where can I find out that its a 4 mic and not the 6 mic. Can you show me that.

[2021-08-21 00:00] HinTak commented on #306
Same problem over and over! Use ac108 for recording and headphone for playing. You are using the ac108 for playing! Why did you do 2,0 in both? For your hardware you need to use 2,0 for recording but  `aplay -D plughw:CARD=Headphones,DEV=0 ...` .

Make sure your arecord part looks like `arecord -D ac108 ...` and your aplay part looks like
 `aplay -D plughw:CARD=Headphones,DEV=0 ...` . Why is that

[2021-08-21 00:06] HinTak commented on #306
And you still need to show a alsamixer *capture* setting screen for the *correct* device being high enough.

[2021-08-21 00:12] HinTak commented on #306
No, seeed-4-mic-voicecard.

No, press F4 for "capture", and make sure it is high, and it still says "seeed-4mics-voicecard" at the top left!!!

[2021-08-23 03:17] amirush786 commented on #306
Yes Its recording and playing at the same time thabkyoy very much for that. But now the issue with the Alsa mixer the wav file after doing arecord that file still plays shhhhh sound I don't know why so I will explain what I did. I did Alsamixer command and it's shows me this.

![20210822_200619](https://user-images.githubusercontent.com/31735000/130384902-c3c3da99-6b3a-4286-882a-69a53db00990.jpg)

[2021-08-24 00:58] amirush786 commented on #306
Just the problem with capture of Alsa mixer is left to do. Please can you help with that.

[2021-08-24 01:22] AIWintermuteAI commented on #306
@amirush786 this is not Stack Overflow, neither it is repository for alsamixer. Please adress your questions at the appropriate channel - since now you're asking help with general sound help I recommend:
https://www.google.com/
https://www.raspberrypi.org/forums/
https://raspberrypi.stackexchange.com/

[2021-09-01 10:35] cl84 opened #310 "[Bug]: micbias down"
### Describe the bug

I installed the driver on ubuntu 64bit, everything works except the fact that no voltage comes out from the micbias output, while the same driver on rasbian 64 works perfectly

### Expected behavior

voltage on the micbias output

### Platform

Ubuntu 21.04 (GNU/Linux 5.11.0-1016-raspi aarch64)

### Relevant log output

_No response_

[2021-09-02 01:54] AIWintermuteAI commented on #276
Closing the issue due to the lack of activity.
Feel free to re-open if issue persists.

[2021-09-02 01:54] #276 closed

[2021-09-02 01:55] #273 closed

[2021-09-02 01:55] AIWintermuteAI commented on #271
Closing the issue due to the lack of activity.
Feel free to re-open if issue persists.

[2021-09-02 01:57] AIWintermuteAI commented on #258
Installation issue has been fixed. Installation script might change in the future, pay attention to instruction in the README.
Closing the issue.

[2021-09-02 01:57] #258 closed

[2021-09-02 04:42] HinTak commented on #310
If the os hasn't crashed (#251 ), it is likely the 2-mics device. In that case, likely similar issue to that recent problem with the kernel shipping a buggy kernel module for the 2-mics codec. I think the install/uninstall script contains some tips about where kernel modules are located (they are slightly different in ubuntu).

[2021-09-08 09:36] goderro opened #311 "Failed to apply overlay '3 seeed-2mic-voicecard' (5.10.60+ kernel)"
### Describe the bug

Hi, I really want to get some solutions for my PI zero w board.

After installing 'seeed-voicecard' and reboot, it didn't work.
'Error! There are no instances of module: seeed-voicecard'
I saw above messages during installing. I thought it gonna be some problems.

I can't find 'card 0' when 'aplay -l'.
And I can't use dtoverlay after rebooting.

I could test for LED, It was w

[2021-09-08 22:22] baileyji opened #312 "[Bug]: Kernel panic on master v5.9 and others with 4mic Circular array"
### Describe the bug

I'm seeing kernel panics and improper operation arecord -L does seem to work, but using of the device via paman, Mumble, or other programs brings the system to a stop.

### Expected behavior

Successfully use the microphone via pulse input in e.g. Audacity or Mumble.

### Platform

- Device: Raspberry Pi 4 4GB
- OS:  Raspbian OS 32bit kernel version with all updates: 5.10.60-

[2021-09-09 01:23] HinTak commented on #312
From the log you posted it looks like you have a USB device fadecandy which has stopped responding, and that in turn has caused the raspberry pi firmware to time out. Nothing to do with audio at all. You may need to review which part of your applications are using fadecandy, and perhaps contact the Adafruit people (who sell these, and presumably wrote the drivers too) for help.

[2021-09-09 04:03] baileyji commented on #312
Yes, I saw that as well and did find it interesting. I'm sure there is an issue with the 4mic array driver though there may be some interplay with USB. I think what is happening there though is that something related to the seeed driver is dominating things in the kernel and causing a hose of other quasi-intensive low level resources to randomely fail sometimes. As long as I don't access the 4mic

[2021-09-09 04:37] HinTak commented on #312
"I think what is happening there though is that something related to the seeed driver is dominating things in the kernel and causing a hose of other quasi-intensive low level resources to randomely fail sometimes." is issue #251 ! I thought it is disastrous on 64-bit kernel, didn't know it is observable on 32-bit kernel too.

And it certainly looks like it is the same section of code in ac10x_upda

[2021-09-09 04:53] baileyji commented on #312
Sigh. Reading through these other tickets has me suspecting its time to invest in a different mic hat... I'm willing to offer some help debugging/and thinking, but I've just delivered the hardware to someone so I'm a bit limited for the moment.

[2021-09-11 21:27] IgorPelevanyuk opened #313 "[Bug]: seeed-2mic-voicecard driver installed, but hardware is not working"
### Describe the bug

Hello! I have bought ReSpeaker 2mic and plugged in Raspbery Pi Zero.

Driver installation passed well as far as I see:
[code]

But recording records silence. So I tried to play something with headphones.
```aplay -D hw:1 work.wav``` also muted although I know that the file is not empty and when I play it on hw:0, which is HDMI to my TV, I can hear the record.

### Expected be

[2021-09-11 21:47] IgorPelevanyuk commented on #313
Thats may be my issue, please do not react on this issue

[2021-09-12 05:32] Baggerfahrer opened #314 "[Bug]: Soundcard not available/ shown in aplay after installation"
### Describe the bug

Hey all

i got an issue during installation process of the soundcard. It seems to be, that the installation process is not run properly, as the soundcard is not available after the installation.

I dont know if this is relevant, but the following errors message during installation process occurs:
[code]

After the installation and a reboot, i got the following output of `apla

[2021-09-12 13:44] IgorPelevanyuk commented on #313
I have to mention that I have bought my respeaker from aliexpress. And it looks like it was produced by Keyestudio. On official wiki page it is written that seeed drivers should work. Do you really support it?

[2021-09-13 01:47] AIWintermuteAI commented on #313
Hi there!
No we do not support third party knock-offs.

[2021-09-13 01:47] #313 closed

[2021-09-13 01:57] AIWintermuteAI commented on #314
Hi there!
It seems that this particular issue is not related to reSpeaker installation procedure, but rather a problem with system set up (I found some results [here](https://www.google.com/search?q=System+has+not+been+booted+with+systemd+as+init+system+%28PID+1%29.+Can%27t+operate.+raspberry+pi&newwindow=1&client=ubuntu&hs=dBK&channel=fs&ei=Uq4-YeSxCJHE8gK_taOAAQ&oq=System+has+not+been+booted+wit

[2021-09-13 02:01] AIWintermuteAI commented on #311
Hi there!
Where did you find this command?
[code]
To my knowledge it is not necessary at all.
Additionally, ```Error! There are no instances of module: seeed-voicecard``` is not an actual error - it merely says that you have no such module at the moment, then it proceeds to building it.

[2021-09-13 08:40] goderro commented on #311
You can ignore about 'dtoverlay'. You already commented it is not necessary.
I just want to how to resolve this issue.
I would take downgrade kernel version if you let me know what kernel version would be best stable version for us.

Thank you.

[2021-09-15 15:35] Baggerfahrer commented on #314
thanks for the reply!
I will re-set-up the pi (potentially on the weekend) and report back.

Many thanks

[2021-09-16 19:33] Baggerfahrer commented on #314
issue can be closed.
After a clear new set-up of rpi with an sudo apt-get update before the installation of this driver, everything went well....

[2021-09-16 19:33] #314 closed

[2021-10-07 06:15] StonedEdge commented on #304
Hi there,

I'm back as I'm having issues again following the above instructions. Has there been any push requests that may have broken the above steps? Wondering how to fix my issue... sorry to bother you.

Kind regards

[2021-10-07 15:48] HinTak commented on #304
The error message about package holds seems harmless and everything looks alright as far as I see. What does `dmesg` says after the reboot?

[2021-10-08 14:00] StonedEdge commented on #304
Hmm, so it seems to be working overall, but the Pi is lagging quite significantly after installing the driver.

After I try to play audio from the splashscreen on RetroPie by altering this line in the shell script attached, it basically seems to not want to configure the bluetooth service and I end up getting crashes. Going a bit of topic here, but definitely strange... ugh

https://images-ext-1.d

[2021-10-08 22:39] HinTak commented on #304
I am a little confused - does the driver works or not? If you are trying to play sound with unsual player, such as omxplayer as in your screenshot, you can have strange consequences. In particular, omxplayer is pi-specific and use the raspberrypi's video core and firmware to interact with the video and audio hardware, and it goes below the driver, alsa and perhaps even the linux kernel... if I wer

[2021-10-09 03:11] StonedEdge commented on #304
The driver installs fine, works well. But for my application (with RetroPie) - it doesn't work at all in practice.

I can click around in the menus (yes the audio works there) but as soon as I load a game it will just revert back to the emulation station home menu (i.e ROM does not launch correctly).

I will try to reach out to someone on RetroPie forums to help with my issue as I understand this

[2021-10-09 21:05] HinTak commented on #304
The current maintaining place is https://github.com/popcornmix/omxplayer (it is forked from another which is no longer maintained) , and as I wrote earlier, popcornmix is one of the pi people; but even  that page says you should be using vlc instead!

I am mostly interested in others' problems with the respeaker because I also own one (and I have no special relationship with Seeed Studio, except t

[2021-10-10 16:52] HinTak commented on #304
@StonedEdge As far as I understand it (from the Seeed Studio people), upstream (as included in recent kernels) wm8960 is buggy and it is better to use the seeed-studio version of the wm8960 driver code. What may help is actually the dtbo line in config.txt - that was a change I made some time during the last year - before that, the installation process both try to load the dtbo and driver at boot

[2021-11-05 18:24] StonedEdge commented on #304
Hi @HinTak

Copying the below dmesg as still getting some errors here, not sure if this helps you debug or not but if you do have some time please feel free to take a look. Cheers.

[    0.000000] Booting Linux on physical CPU 0x0
[    0.000000] Linux version 5.10.63-v7l+ (dom@buildbot) (arm-linux-gnueabihf-gc                                                                             c-8 (Ubuntu/

[2021-11-05 21:10] HinTak commented on #304
The "memory leak" messages are harmless - yes, there is a genuine leak if you load and unload the driver multiple times, but it only affect developers who are modifying the driver code, and need to unload and re-load (a modified versions of it ) multiple times. As in they are still marked as "used", even after you unload the driver, so you lose them and if you do that too often, your available mem

[2021-11-19 18:01] thmacoem commented on #309
Hi there.
Had the same issue on both Pi 3 and Pi 4, 32bits OS.
I opened a [topic]([url](https://forum.seeedstudio.com/t/respeaker-6-mic-hat-used-with-8-channels-channels-order-mismatch/261425)) thinking about a bad config but now I know it's a bug...
As I found some previous version of the driver without this bug, does anybody know the most recent release without the bug ?
Thanks in advance

[2021-11-25 05:25] likelikeslike opened #316 "[Bug]: Audio playback slower than actual speed (ReSpeaker 2-Mics Pi HAT)"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. Record the wav file using `arecord` or `https://github.com/respeaker/mic_hat/blob/master/recording_examples/record.py`
2. Play the audio using `aplay` or `https://github.com/respeaker/mic_hat/blob/master/recording_examples/play.py`
3. The output through 3.5mm Audio Jack headphone sounds slower than it should be (1.5x slower

[2021-12-08 01:03] egaznep commented on #309
Hi, I am having a similar problem with the Respeaker-4-mic-array for Raspberry Pi, though not with the "reference" mics but with the recordings. Is there any active development/troubleshooting going on?

I am using the 64-bit kernel, and tested out on 2 different Raspberry Pi's and arrays with Audacity. I get two different permutations: 1-2-3-4 or 3-4-1-2. I couldn't get to find a reliable way to

[2021-12-09 14:39] JaPhoton commented on #309
Hi, I had the same problem on Respeaker-4-mic-array and made this workaround.
[channel_order_fix.zip](https://github.com/respeaker/seeed-voicecard/files/7685818/channel_order_fix.zip)

In the zip file, ac108.c and seeed-voicecard.c are modified
This patch only works for Respeaker-4-mic-array, but I think it can be modified for any device. The key point is to start generating the clock after "spin_

[2021-12-10 13:36] egaznep commented on #309
@JaPhoton this solved my problem. Thanks a lot!

[2021-12-11 08:04] diphtong opened #317 "[Bug]: ./install.sh on 64bit Raspberry OS"
### Describe the bug

following error when running ./install.sh:

E: Paket linux-raspi kann nicht gefunden werden.
E: Paket linux-headers-raspi kann nicht gefunden werden.
E: Paket linux-image-raspi kann nicht gefunden werden.
Paketlisten werden gelesen… Fertig
Abhängigkeitsbaum wird aufgebaut… Fertig
Statusinformationen werden eingelesen… Fertig
libasound2-plugins ist schon die neueste Version (1

[2021-12-11 10:33] #317 closed, assigned to Pillar1989

[2022-01-07 08:29] StonedEdge opened #318 "[Bug]: Crashing when adjusting sound above 20% in standalone RetroPie emulators"
### Describe the bug

1. Open a standalone emulator in RetroPie, such as DraStic or PPSSPP
2. Adjust volume above 20% in Alsamixer
3. Emulator begins to lag - eventually crashes and file system becomes read-only
4. Doesn't happen with the headphone drivers, only speaker drivers

### Expected behavior

The speaker drivers should allow me to drive the volume of the speakers. I have them connected to

[2022-01-07 09:28] #318 closed, assigned to Pillar1989

[2022-01-07 15:53] HinTak commented on #318
why did you close this? Even you realize it is an unrelated issue, it would be nice to write it down before closing...

[2022-01-07 23:09] StonedEdge commented on #318
Hi HinTak.

I closed it as I probably realized that this issue more relates to RetroPie than the seeed development team... or maybe not, I don't know. Last time I asked I was told that they dont provide support to RetroPie users... However, just for some pre-context, the RetroArch audio drivers seem to be using alsathread (which I have no issue with running games), however as soon as I try any X11

[2022-01-08 00:20] StonedEdge commented on #318
I dont particularly think this will help, but here's an image of the crash error:

![270359581_624272208898098_7214659905742896298_n](https://user-images.githubusercontent.com/45709395/148623126-c2d27a44-6150-4eff-af49-5dcbda65ecee.jpg)

And here's what my .asoundrc file contents looks like currently. This is the stock .asoundrc file that is pre-loaded in RetroPie within the /home/pi/ directory, w

[2022-01-11 09:12] StonedEdge commented on #318
I guess no one has any idea then... :( Is there any way I can provide a log after the crash, for example?

[2022-01-11 09:53] StonedEdge commented on #318
I am powering the speakers on 5V rail compared to 3v3 on my PCB. Do I need to change anything in the code to accommodate for the higher voltages?

[2022-01-11 19:34] HinTak commented on #318
The fat message means your sd card got corrupted. I really suspect a power issue - your power supply is not strong enough?

[2022-01-12 00:01] StonedEdge commented on #318
Hmm, I guess it could be that. The boost regulator I'm using is the TPS61232, perhaps it cannot handle the 2A+ transient spikes from the speakers. I don't have the inductors/low pass filters on the speaker output rails, like the seeed PCB schematic shows. I'll send over my schematic shortly, but I suspect the issue is not power related, because there is no problem in libretro core based emulators.

[2022-01-12 06:11] StonedEdge commented on #318
Is anything writing to the SD card in the code? I find that when my SD card becomes a read-only file system after the inevitable crash, everything speeds up considerably but I can't figure out why that would be the case. I'm also driving two speakers instead of one, which is what is done on the seeed HAT PCB. Do you have any idea why this would happen?

[2022-01-12 15:34] StonedEdge commented on #318
I will also add that driving the headphones works completely fine with zero lag, however as soon as I switch back to the speakers l, slowdowns happen.

[2022-01-12 15:47] StonedEdge commented on #318
And finally, my schematic, FWIW![image](https://user-images.githubusercontent.com/45709395/149173440-7b83689c-9272-4571-ba57-26609741c043.png)

[2022-01-12 16:15] HinTak commented on #318
speakers draw more power than headphone - so it sounds like a power issue?

[2022-01-13 09:12] StonedEdge commented on #318
Don't think so. Checked the power supply ripple and transient noise near the speakers with my scope, as well as the regulator output when I raise the volume and it looks fine. Is there anything that I need to manipulate in the code to drive two speakers or should they just work "out of the box"? FWIW, muting the "Right Output Mixer PCM" in Alsamixer removes any issues I have if that helps.

[2022-01-13 14:56] HinTak commented on #318
'muting the "Right Output Mixer PCM"' works around the issue, that's interesting. If I could find time would be useful to see what that does at the code level.

[2022-01-13 15:20] StonedEdge commented on #318
That'd be great. I'll keep debugging my hardware, and I'm sorry to ask you for help again on this. Forgive me if it is my hardware...

[2022-01-13 23:44] StonedEdge commented on #318
Here's a video of the issue by the way, just in case: https://youtu.be/XeDUuK9mMEA

[2022-01-14 08:35] StonedEdge commented on #318
@HinTak I apologize. Turns out the issue is hardware related, with me pairing the high speed SDIO clock signal right next to the analog signals of the right channel, which is causing my problem. I apologize about this.

- Stoned

[2022-01-14 09:02] HinTak commented on #318
Thanks for letting me know! Good it is resolved!

[2022-01-15 15:01] dacsantillan commented on #309
Hello, can you help out with the Respeaker-6-mic-array? Thank you so much

[2022-01-27 20:22] josemarcosrf commented on #257
@Amhehu I am in a similar situation as yours. Same Raspbian, same Respeaker, same UU at the 3b address.

Did you manage to solved?

[2022-01-27 21:45] HinTak commented on #257
Actually I like to know too - I bought a few i2c/grove devices and leds to play with before Christmas.

[2022-01-27 23:22] Amhehu commented on #257
I bought a grove oled display. With that it was no problem.
https://wiki.seeedstudio.com/Grove-OLED_Display_0.96inch/

Here a picture of it
https://paste.pics/1d7d4cbda12d20f85fb0bcc894e05d69

(at the moment I use it on a raspberry pi 3 with Raspbian Bullseye)

[2022-02-03 14:34] hellow554 commented on #251
Sadly this is still an issue on the 64-bit version of raspberry pi OS along with the respeaker 4-mic array.

@AIWintermuteAI you removed your assignment on this, does it mean this isn't likely to be fixed? :/

[2022-02-03 15:56] HinTak commented on #251
Yes, PREEMPT_VOLUNTARY is needed for the driver code, so it is a bug... it is not to painful to build your own kernel though...

[2022-02-07 20:45] AnduriI opened #319 "[Bug]: seeed-4mic-voicecard not showing up in 'arecord -L'"
### Describe the bug

I have two RPis, which I want to use as microphones with Rhasspy. On is my test setup with a RPi Zero WH working fine. The other is an already running RPi 3B with Raspbian stretch. On the Zero I installed the standard driver and it works just fine. On the full raspi I can not get the respeaker mic to show up. I also tried to uninstall and reinstall HinTak's version with no su

[2022-02-22 13:05] StuartIanNaylor commented on #317
[code]
[code]

[2022-02-22 14:49] StuartIanNaylor commented on #317
sudo ./install_arm64.sh not  ./install.sh

[2022-03-13 16:51] Chadnon opened #320 "[Bug]:"
### Describe the bug

Respeark 6-mic can only achieve a maximum sampling rate of 48Khz

### Expected behavior

Is there any way to achieve 192Khz sampling rate？

### Platform

- Device: [e.g. Raspberry Pi 4B]
- OS: [e.g. Raspbian OS 32bit kernel version ...]
- Version/commit number [e.g. d1816f5]

### Relevant log output

_No response_

[2022-04-06 12:37] bruesche opened #321 "After update of OS the Respeaker Card didn't work anymore"
### Describe the bug

I updates my pi yesterday. After that the software rhasspy didn't work. I look at the config and can't find the 4-mic array. Tried to restart. Software didn't work.
I tried to install the respecter drivers again because with the command "arecord -L" there was no mic array shown. I get this error on installation:

Building module:
cleaning build area...
make -j4 KERNELRELEASE=

[2022-04-06 13:39] HinTak commented on #321
This looks like it is an issue with compatibility to kernel 5.13+ which is already fixed in my fork https://github.com/HinTak/seeed-voicecard . Please use that instead, and if it works for you, please consider clicking the donate link.

[2022-04-12 22:44] rnehrboss commented on #309
@JaPhoton  Great work.  Did this fix get merged in?
If not, how do we Make the new files using the C source code files you provided?
@egaznep   Looks like you got it working too.  Do you mind sharing the recompile and installation steps using @JaPhoton s code.

Thanks!

[2022-04-13 06:04] JaPhoton commented on #309
@rnehrboss
On the repository dir is Makefile so you can probably make this files using "make" command in console.

[2022-04-13 13:01] furkanbalikci opened #322 "[Bug]: Kernel 5.10.92-v7+ "set_params:1403: Unable to install hw params:""
Hello,
I am using RPi 3A+ for my seeed voicecard. My kernel verison is 5.10.92. When I doing standart installation like in this link: https://wiki.seeedstudio.com/ReSpeaker_2_Mics_Pi_HAT_Raspberry/ (I also tried @HinTak repostiroy.)
kernel verison upgrading to 5.15.32.
After reboot, arecord -l  result:
**** List of CAPTURE Hardware Devices ****
card 2: seeed2micvoicec [seeed-2mic-voicecard], devic

[2022-04-26 15:20] bahamut657 commented on #321
Is it possible to merge into official repo? It seems to work also in RPI0W (armv6 version)

[2022-04-26 16:00] HinTak commented on #321
It is most likely these two commits in mine:

v5.13: Conditionally re-adding asoc_simple_parse_xxx()
v5.13: cope with multi-support at asoc_simple_canonicalize_*()

Possibly this too:

v5.12: symmetric_rates renamed symmetric_rate

git cherry-pick should do.

Some of the rest of diferences are a matter of differing opinion on how to do things, so shouldn't be merged.

[2022-04-26 19:03] #321 closed, assigned to Pillar1989

[2022-04-27 07:40] hellow554 commented on #322
Can you try out #323 and see if it works for you?

[2022-04-27 11:58] HinTak commented on #322
See my comment in #323 - I don't think the change is relevant.

[2022-04-27 12:15] hellow554 commented on #322
The log under "relevant log output" is the compiler error I got, so I thought this will solve his issue as well.

[2022-04-27 12:46] HinTak commented on #322
5.10.92-v7+ is supported by the current upstream I think; if there is any compiler errors at all that means the driver does not get built, so the device is not expected to work at all...

[2022-04-30 16:21] LeoBuron opened #324 "[Bug]: Kernel 5.15.32-v71 "set params:1407: Unable to install hw-params"
### Describe the bug

1. Install the latest Raspberry Pi 4 Os via Raspberry Pi Imager
2. Follow the instructions of this git and also checking out this: https://wiki.seeedstudio.com/ReSpeaker_2_Mics_Pi_HAT_Raspberry/

Additionally, I tried it with the raspberry pi image you providing in this git. The pi hat 2 worked.

### Expected behavior

Expecting the audio to record

### Platform

- Device: Ra

[2022-05-04 18:37] yezzerfv opened #325 "[Bug]: Respeaker 2 Mics Pi Hat on latest Raspberry Pi Bullseye not working with Picovoice"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
Install latest Bullseye
Follow the steps to install ReSpeaker
Follow the steps to run Picovoice (porcupine, specifically PvRecorder)
--show_audio_devices will now show ReSpeaker, but arecord -l does

### Expected behavior

Respeaker should work with Picovoice

### Platform

- Device: Raspberry Pi 4]
- OS: latest Raspbian OS 32

[2022-05-04 18:51] createcandle commented on #324
I am also seeing this error, but on kernel 5.10 with  a 32 bit Bullseye OS. The recorded audio sounds like hissing.

[2022-05-04 18:54] yezzer commented on #324
Try uninstalling, then cloning the fork and installing that. Fixed the same or similar issue https://github.com/respeaker/seeed-voicecard/issues/325

[2022-05-04 18:55] createcandle commented on #324
I believe I'm using the fork already.

[2022-05-04 19:21] yezzer commented on #321
Your fork worked for me, and have sent a small donation for my thanks. Why aren't Seeed Studio taking their software seriously?

[2022-05-04 20:38] flatsiedatsie commented on #324
@yezzer I tried a re-install, and it still worked. Perhaps I was wrong about which version I was using.

[2022-05-07 11:19] LeoBuron commented on #324
The fork worked perfectly for me. Thank you!

[2022-05-13 12:17] furkanbalikci commented on #322
Hi guys, sorry for late answer. I solved this problem using kernel version 5.10.103-v7l+. Unfortunately, I don't have the environment and time to try your solution suggestion. Thank you for your interest and answers.

[2022-05-13 12:17] #322 closed, assigned to Pillar1989

[2022-05-13 13:56] jumper047 commented on #322
I think issue should remain opened because the bug is still there, though you luckily solved it for yourself:)

[2022-05-13 14:12] furkanbalikci commented on #322
Maybe you are right :) but unfortunately I don't think this bug will be fixed in this issue. Because it was answered late and not clear. Similar issues have already been opened, I think those who can't find a solution can try my way by checking the closed issues at least.

[2022-05-18 20:05] pauloesteban opened #326 "[Bug]: Respeaker not shown on Linux 5.15.32-v8+ aarch64"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. Attach Respeaker Pi Hat onto the RPi
2. Power cycle
3. Install using `install_arm64.sh` script
4. See error
5. Reboot
6. `arecord -l` not showing anything

Note: I've already tried some forks without success

### Expected behavior

Able to record audio input

### Platform

- Raspberry Pi 4B
- OS: Raspberry OS Bullseye arm64

[2022-05-18 21:27] HinTak commented on #326
Pretty sure it is the same issue filed by others and now closed: in my fork https://github.com/HinTak/seeed-voicecard there are a few updates for newer kernels not yet picked up by upstream.

[2022-05-23 19:43] miraz12 commented on #326
I had the same problem trying to install drivers on my rpi4 on kernel 5.15.32-v8+. Can confirm that @HinTak's fork fixed it for me. Thank you!

[2022-05-23 23:48] StuartIanNaylor commented on #326
[@hintak ](https://github.com/HinTak) @hintak thanks as got be going on 64bit Bullseye but do you have a fix for the random channel order on record?
Every time I record the channels have rotated randomly which sort of kills any use of the 6mic circular Hat for Pi.

[2022-05-23 23:56] StuartIanNaylor commented on #309
The 6 mic is a nightmare as seems totally random and currently not much good for the DelaySum/TDOA beamformer I have hacked together.
https://github.com/StuartIanNaylor/ProjectEars Its my 1st C++ project starting from scratch with C++ but couldn't find another lite realtime Pi3 capable beamformer anywhere.

Is anyone @JaPhoton else hosting a repo with the channel fixes as say with above its imposs

[2022-05-29 22:19] StuartIanNaylor commented on #309
https://github.com/respeaker/seeed-voicecard/issues/251#issuecomment-728522330

You have stated the ac108 is @eol would the http://www.everest-semi.com/pdf/ES7210%20PB.pdf be an alternative?

[2022-06-03 06:38] pauloesteban commented on #326
It works

[2022-06-03 06:38] #326 closed, assigned to Pillar1989

[2022-06-09 19:03] Horschig commented on #319
I have a similar issue on my fresh raspi 4. `arecord-L` says

[code]

edit: to reproduce, just get a new raspi 4, install raspiOS and run install.sh

[2022-06-09 19:16] Horschig commented on #319
Thanks @AnduriI for pointing to @HinTak. Using his/her version helped resolve my issue!

https://github.com/HinTak/seeed-voicecard

[2022-06-15 12:42] skkostas commented on #319
I confirm, that the issue is solved with this version!

Thank you @Horschig

[2022-06-21 03:55] ser commented on #325
Thanks for pointing into a working repository.

[2022-06-27 13:53] gpgmailencrypt opened #327 "[Bug]: ReSpeaker 4-Mic Array Driver does not work with latest raspbian kernel"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. Have an existing (working) raspberry os
2. sudo apt update
After reboot the respeaker 4-Mic Array is not available any more

Building a functional driver  does also not work on a fresh installed raspberry os.
Also tried HinTak's fork with no success

### Expected behavior

dkms builds the driver without error

### Platform

[2022-06-28 20:44] HinTak commented on #327
Fixed months ago in https://github.com/HinTak/seeed-voicecard .

[2022-07-07 08:44] jbroeckling commented on #327
yea, just tried your repo and it works with newer headers and on 64 Bit Raspi. Thanks :)

[2022-07-27 11:19] aaronAtAgrisound commented on #309
Is anyone still looking at this? it's been close to a year, and the respeaker 6 is still essentially unusable because of the inconsistent channel order.

[2022-07-30 22:18] StuartIanNaylor commented on #309
Only thing I can say is make sure you buy with paypal and at least then you can get a refund as yeah completely unusable if you have a random channel order.

PS Respeaker please fix these with a new revision and supply mic daughter boards as why limit the board to what is a bad choice of the geometry you supply and near impossible to isolate the onboard mics.
Just a straight board 4/8 channel ADC

[2022-08-05 20:26] luigi-riefolo commented on #327
same here, tried @HinTak's fork and it's not working. Any idea?

[2022-08-05 21:41] HinTak commented on #327
Little vague. If you see the same messages above, your are out of date. Otherwise, what `dmesg` says after boot up, and `arecord -l` would be useful.

[2022-08-22 10:10] andrewallkin commented on #327
Hi, I am using a Raspberry Pi Zero W along with the ReSpeaker 4-mic linear array HAT. I have followed all instructions for getting started on Wiki Seeed Studio website (https://wiki.seeedstudio.com/ReSpeaker_4-Mic_Linear_Array_Kit_for_Raspberry_Pi/) but I am getting a lot of warnings/errors when running this file. The output when running  python3 recording_examples/get_device_index.py is as follow

[2022-08-22 16:34] HinTak commented on #327
Two things:

- there are two 4-mics devices - a square one which gives 4 channel outputs, and a linear one, which gives  8 channel outputs with 4 silent channels. They are very different.

- the message above seems to suggests some other audio devices are also plugged in, or was plugged in in the past. Those demo script often assumes the seeedstudio device is the first audio device, which may not

[2022-08-22 16:48] beitong95 commented on #309
I also have the same problem.
Try an older kernel and an older driver.
Branch rel-v5.5 works for me.
I use `sudo ./install.sh --compat-kernel`  to install the driver. It will use the hardcoded FORCE_KERNEL in the install.sh, which is 1.20200819-1 a.k.a. 5.4.51-v7l+.
The mic array I am using is a [4-mic linear array](https://wiki.seeedstudio.com/ReSpeaker_4-Mic_Linear_Array_Kit_for_Raspberry_Pi/).

[2022-08-22 22:27] StuartIanNaylor commented on #309
I ordered via paypal and got a refund as seemed a better idea.

[2022-08-29 10:49] souviksaha97 opened #329 "[Bug]: Respeaker 4 mic linear - channel not in order"
### Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps for installation from the README.md, from the master branch
2. Use the 4 mic linear ReSpeaker Microphone
3. Run Audacity software, select input as SeedStudio voice card
4. Choose channel as 8 in Audacity
5. Out of the 8 channels we don't see microphone data in channels 1, 2, 3, 4. Rather it is disordered wi

[2022-08-29 13:31] HinTak commented on #329
Possibly dup of https://github.com/respeaker/seeed-voicecard/issues/309

[2022-08-30 05:04] souviksaha97 commented on #329
What was the resolution for the issue @HinTak ?

[2022-09-19 19:51] Feles-Mala commented on #327
Hi there, I suspect this is going to be an eternal struggle of driver vs os, which makes this device unsuitable for a long-lifetime project but I'll give it a go:

I have a raspberry pi 4B 4gb and have tried both 32bit and 64bit versions of current raspberry pi os (Bullseye).

Also tried both the official (64 and 32bit) and the HinTak fork (default branch 5.9) of the driver installs.

In all cases

[2022-09-20 22:46] squinty204 commented on #327
I too am experiencing the same problem as participant Feles-Mala. We have been chatting about this bug over on reddit and have been experimenting to solve this issue.  Today I decided to try installing the 4mic driver on a brand new installation of Ubuntu 22.04 but while the panel doesn't disappear after the driver installation, Alsamixer still doesn't display the card as being installed.  I also

[2022-10-04 16:47] edwbaker commented on #301
Still an issue with respeaker 6mic array - latest Raspbian and driver c526066.

[2022-10-11 07:40] egaznep commented on #309
I have forked this repository and applied the necessary changes there. Then
if I recall correctly, things worked like a charm. If you click on my
profile you should be able to find it. Good luck!

13 Nis 2022 Çar 01:45 tarihinde rnehrboss ***@***.***> şunu
yazdı:

[2022-11-15 00:39] markusressel commented on #327
I hit this error and used your fork, seems to have worked, here is the full install script log for reference:

<details>
  <summary>Click me</summary>

[code]
</details>

[2022-11-15 17:25] HinTak commented on #327
I think upstream supports up to v5.12 . There is adjustments required for the kernel for 5.13, which in my fork was done in a "if kernel >=5.13" manner so my v5.9 branch supports v5.9 to v5.19, actually. (Upstream only up to 5.12, and not beyond). There is a separate v6.0 branch in my repo for v6.0+, because the difference between 5.19 and 6.0 is a bit large and ugly if I have to do a lot of "if k